name: YouTube Data Collect

# 언제 실행할지 설정
on:
  schedule:
    - cron: "0 */6 * * *" # 6시간마다 (0시, 6시, 12시, 18시 - UTC 기준)
  workflow_dispatch: # 우리가 원할 때 수동으로 버튼 눌러서 실행 가능하게 함

jobs:
  build:
    runs-on: ubuntu-latest # 가상 컴퓨터 운영체제

    steps:
      - name: Checkout code
        uses: actions/checkout@v3 # 내 깃허브 코드를 가상 컴퓨터로 가져옴

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9" # 파이썬 버전 설정

      - name: Install dependencies
        run: |
          pip install google-api-python-client pandas easyocr python-dotenv
          # 필요한 라이브러리를 여기에 적어주세요.

      - name: Run Python Script
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }} # 깃허브 비밀키에서 가져오기
        run: python trending.py # ★본인의 파이썬 파일명으로 수정하세요!

      - name: Commit and Push changes
        run: |
          git config --global user.name "EaonO0O"
          git config --global user.email "geunjuo20@gmail.com"
          git add .
          git commit -m "Update YouTube data: $(date)" || echo "No changes to commit"
          git push
